<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ORG">
    
	<select id="queryOrgList" resultType="map" parameterType="map">
		SELECT 
			t.orgId,
			t.orgName,
			t.orgNo,
			t.province,
			t.cityName,
			t.address,
			t.isNet,
			t.isCount,
			t.orgFlag
		FROM
		t_org t
		<where>
			<if test="orgId !=null and orgId !=''">
				t.orgId = #{orgId}
			</if>
			<if test="orgNo !=null and orgNo !=''">
				t.orgNo = #{orgNo}
			</if>
			<if test="orgName !=null and orgName !=''">
				and t.orgName =#{orgName} 
			</if>
			<if test="cityName !=null and cityName !=''">
				and t.cityName =#{cityName} 
			</if>
			<if test="orgFlag !=null and orgFlag !=''">
				and t.orgFlag =#{orgFlag} 
			</if>
		</where>
		
	</select>
	
	
	<select id="queryOrgCount" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_org t 
		<where>
			<if test="orgId !=null and orgId !=''">
				t.orgId = #{orgId}
			</if>
			<if test="orgName !=null and orgName !=''">
				and t.orgName =#{orgName} 
			</if>
			<if test="cityName !=null and cityName !=''">
				and t.cityName =#{cityName} 
			</if>
			<if test="orgFlag !=null and orgFlag !=''">
				and t.orgFlag =#{orgFlag} 
			</if>
		</where>
	
	</select>
	
	
		<select id="queryUserOrgs" resultType="map" parameterType="map">
		SELECT t.orgId,t.orgName,t.orgNo,t.province,t.cityName,t.address
		FROM
		t_org t
		<where>
			<if test="orgId !=null and orgId !=''">
				t.orgId = #{orgId}
			</if>
			<if test="userOrgs !=null and userOrgs !=''">
				and t.orgId in (${userOrgs})
			</if>
			
			<if test="orgName !=null and orgName !=''">
				and t.orgName = #{orgName} 
			</if>
		</where>
		
	</select>




</mapper>