<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EXPORTCFG">
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			exportType,
			sysType, 
			serviceKey, 
			serviceName, 
			pageMethod, 
			countMethod, 
			orderBy, 
			orderValue, 
			titile, 
			afterMethod, 
			DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s') as createTime  
		FROM t_export_cfg
		<where>
			<if test="exportType != null and exportType != ''">
			  and exportType = #{exportType}
			 </if>
			<if test="sysType != null and sysType != ''">
				and sysType = #{sysType}
			</if>
			<if test="serviceKey != null and serviceKey != ''">
				and serviceKey = #{serviceKey}
			</if>
			<if test="serviceName != null and serviceName != ''">
				and serviceName = #{serviceName}
			</if>
			<if test="pageMethod != null and pageMethod != ''">
				and pageMethod = #{pageMethod}
			</if>
			<if test="countMethod != null and countMethod != ''">
				and countMethod = #{countMethod}
			</if>
			<if test="orderBy != null and orderBy != ''">
				and orderBy = #{orderBy}
			</if>
			<if test="orderValue != null and orderValue != ''">
				and orderValue = #{orderValue}
			</if>
			<if test="titile != null and titile != ''">
				and titile = #{titile}
			</if>
			<if test="afterMethod != null and afterMethod != ''">
				and afterMethod = #{afterMethod}
			</if>
			<if test="createTime != null and createTime != ''">
				and createTime = #{createTime}
			</if>
		</where>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_export_cfg 
		<where>
		<if test="exportType != null and exportType != ''">
		    and exportType = #{exportType}
		 </if>
		<if test="sysType != null and sysType != ''">
			and sysType = #{sysType}
		</if>
		<if test="serviceKey != null and serviceKey != ''">
			and serviceKey = #{serviceKey}
		</if>
		<if test="serviceName != null and serviceName != ''">
			and serviceName = #{serviceName}
		</if>
		<if test="pageMethod != null and pageMethod != ''">
			and pageMethod = #{pageMethod}
		</if>
		<if test="countMethod != null and countMethod != ''">
			and countMethod = #{countMethod}
		</if>
		<if test="orderBy != null and orderBy != ''">
			and orderBy = #{orderBy}
		</if>
		<if test="orderValue != null and orderValue != ''">
			and orderValue = #{orderValue}
		</if>
		<if test="titile != null and titile != ''">
			and titile = #{titile}
		</if>
		<if test="afterMethod != null and afterMethod != ''">
			and afterMethod = #{afterMethod}
		</if>
		<if test="createTime != null and createTime != ''">
			and createTime = #{createTime}
		</if>
		</where>
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO t_export_cfg (
			exportType,
			sysType,
			serviceKey,
			serviceName,
			pageMethod,
			countMethod,
			orderBy,
			orderValue,
			titile,
			afterMethod,
			createTime
		)
		VALUES (
			#{exportType, jdbcType=VARCHAR},  
			<if test="sysType !=null ">
			#{sysType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="sysType ==null ">
			1 ,
			</if>
			#{serviceKey, jdbcType=VARCHAR}, 
			#{serviceName, jdbcType=VARCHAR}, 
			#{pageMethod, jdbcType=VARCHAR}, 
			#{countMethod, jdbcType=VARCHAR}, 
			#{orderBy, jdbcType=VARCHAR}, 
			#{orderValue, jdbcType=VARCHAR}, 
			#{titile, jdbcType=VARCHAR}, 
			#{afterMethod, jdbcType=VARCHAR}, 
			#{createTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}
		)
	</insert>
	<delete id="delete" parameterType="map">
		DELETE FROM t_export_cfg 
		<where> 
			exportType = #{exportType}
		</where>
	</delete>
	<update id="update" parameterType="map">
		UPDATE t_export_cfg  
		<set>
			<if test="sysType != null">
				sysType = #{sysType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="serviceKey != null">
				serviceKey = #{serviceKey, jdbcType=VARCHAR},  
			</if>
			<if test="serviceName != null">
				serviceName = #{serviceName, jdbcType=VARCHAR},  
			</if>
			<if test="pageMethod != null">
				pageMethod = #{pageMethod, jdbcType=VARCHAR},  
			</if>
			<if test="countMethod != null">
				countMethod = #{countMethod, jdbcType=VARCHAR},  
			</if>
			<if test="orderBy != null">
				orderBy = #{orderBy, jdbcType=VARCHAR},  
			</if>
			<if test="orderValue != null">
				orderValue = #{orderValue, jdbcType=VARCHAR},  
			</if>
			<if test="titile != null">
				titile = #{titile, jdbcType=VARCHAR},  
			</if>
			<if test="afterMethod != null">
				afterMethod = #{afterMethod, jdbcType=VARCHAR},  
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}
			</if>
		</set>
		<where>
			  exportType = #{exportType}
		</where>
	</update>
</mapper>