<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CUSTOMER">
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			t.gzhId,
			t.openid,
			t.unionid,
			IFNULL(t1.headImgUrl,'') as userImage,
			IFNULL(t2.realName,'') as realName,
			t2.cardNo, 
			t.customerId,
			t.userType,
			t.roleType,
			t.userName, 
			t.email,
			t.telephone, 
			t.password, 
			DATE_FORMAT(t.registerTime,'%Y-%m-%d %H:%i:%s') as registerTime  ,
			t.referer, 
			DATE_FORMAT(t.lastLoginTime,'%Y-%m-%d %H:%i:%s') as lastLoginTime  ,
			t.lastLoginIp,
			IFNULL(t.imName,'') as imName,  
			t.status, 
			t.loginStatus,
			t.platform
		FROM t_customer t
		LEFT JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		<include refid="queryWhereSql"></include>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>
	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM T_customer t
		LEFT JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		<include refid="queryWhereSql"></include>
	</select>
	<sql id="queryWhereSql">
		<where>
			<if test="customerId != null and customerId != ''">
			  and t.customerId = #{customerId}
			</if>
			<if test="userName != null and userName != ''">
				and t.userName = #{userName}
			</if>
			<if test="unionid != null and unionid != ''">
				and t.unionid = #{unionid}
			</if>
			<if test="openid != null and openid != ''">
				and t.openid = #{openid}
			</if>
			<if test="email != null and email != ''">
				and t.email = #{email}
			</if>
			<if test="orgId != null and orgId != ''">
				and t.orgId = #{orgId}
			</if>
			<if test="cardNo != null and cardNo != ''">
				and t2.cardNo = #{cardNo}
			</if>
			<if test="telephone != null and telephone != ''">
				and t.telephone = #{telephone}
			</if>
			<if test="password != null and password != ''">
				and t.password = #{password}
			</if>
			<if test="registerTime != null and registerTime != ''">
				and t.registerTime = #{registerTime}
			</if>
			<if test="roleType != null and roleType != ''">
				and t.roleType = #{roleType}
			</if>
			<if test="excludeSelf != null and excludeSelf != ''">
				and t.customerId != #{excludeSelf}
			</if>
			<if test="inRoleType != null and inRoleType != ''">
		    	and t.roleType in(${inRoleType})
		 	</if>
			<if test="referer != null and referer != ''">
				and t.referer = #{referer}
			</if>
			<if test="lastLoginTime != null and lastLoginTime != ''">
				and t.lastLoginTime = #{lastLoginTime}
			</if>
			<if test="lastLoginIp != null and lastLoginIp != ''">
				and t.lastLoginIp = #{lastLoginIp}
			</if>
			<if test="typeId != null and typeId != ''">
				and t.typeId = #{typeId}
			</if>
			<if test="imName != null and imName != ''">
				and t.imName = #{imName}
			</if>
			<if test="status != null and status != ''">
				and t.status = #{status}
			</if>
			<if test="loginStatus != null and loginStatus != ''">
				and t.loginStatus = #{loginStatus}
			</if>
			<if test="platform != null and platform != ''">
				and t.platform = #{platform}
			</if>
			<if test="authRole != null and authRole != ''">
				and t.authRole = #{authRole}
			</if>
			<if test="kfAuthRole != null and kfAuthRole != ''">
				and t.kfAuthRole = #{kfAuthRole}
			</if>
		</where>
	</sql>
	
	
	<select id="custCount" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM T_customer t
		<where>
			<if test="customerId != null and customerId != ''">
			  and t.customerId = #{customerId}
			 </if>
			<if test="userName != null and userName != ''">
				and t.userName = #{userName}
			</if>
			<if test="password != null and password != ''">
				and t.password = #{password}
			</if>
			<if test="referer != null and referer != ''">
				and t.referer = #{referer}
			</if>
		</where>
	</select>
	

	<select id="queryCustInfo"  resultType="map" parameterType="map">
		SELECT
			t1.headImgUrl,
			t1.qrcodeImgUrl,
			t1.sex,
			t1.provice,
			t1.cityName, 
     		t1.cityArea,
			t2.`status` as "identifyStatus",
			t2.autoAuditCount,
			t2.realName,
			t3.lenderType,
		  	t3.company,
     		t3.`status` as "cardStatus",
			t.userName,  
			f_hide_phone(t.telephone) as 'telephone',
			t.email,
			t1.custDesc,
			t4.longitude,
			t4.latitude,
			t1.address
		FROM t_customer t
		LEFT JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		LEFT JOIN t_cust_identify_card t3 on t.customerId = t3.customerId
		LEFT JOIN t_cust_location t4 ON t.customerId = t4.customerId
		WHERE t.customerId = #{customerId}
	</select>

	<select id="queryView" resultType="map" parameterType="map">
		SELECT
			t.customerId,
			t.userName,
			t.email,
			t5.orgName,
			t1.cityName,
			t1.headImgUrl AS userImage,
			t1.qrcodeImgUrl,
			t2.realImage,
			t2.realName,
			t2.cardNo,
			t2.autoAuditCount,
		    t.telephone,
			t1.headStatus,
			t2.`status` identifyStatus,
			t3.`status` cardStatus,
			t.userType,
			t3.company,
			t.roleType,
			t.vipGrade,
			DATE_FORMAT(t.vipEndDate, '%Y-%m-%d' ) vipEndDate,
			DATE_FORMAT(t.registerTime,'%Y-%m-%d %H:%i:%s') AS registerTime,
			t.referer,
			t4.referer refererTwo,
			t.`status`,
			DATE_FORMAT(
				t.lastLoginTime,
				'%Y-%m-%d %H:%i:%s'
			) AS lastLoginTime,
			t.lastLoginIp,
			t.sourceType,
			t6.leftRepayAmount,
			t6.seniorAmount,
			t6.usableAmount
		FROM
			t_customer t
		LEFT JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		LEFT JOIN t_cust_identify_card t3 ON t.customerId = t3.customerId
		LEFT JOIN t_customer t4 ON t4.customerId = t.referer
		LEFT JOIN t_org t5 ON t5.orgId = t.orgId
		LEFT JOIN t_cust_amount t6 ON t6.customerId = t.customerId
		
		<include refid="sqlQueryView"></include>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>

	<select id="queryViewCount" resultType="int" parameterType="map">
		SELECT count(*)
		FROM t_customer t
		JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		LEFT JOIN t_org t5 ON t5.orgId = t.orgId
		JOIN t_cust_amount t6 ON t6.customerId = t.customerId
		<include refid="sqlQueryView"></include>
	</select>
	<sql id="sqlQueryView">
		<where>
			<if test="userName != null and userName != ''">
			    and (
			    t2.realName like '${userName}%' 
			    or  t.telephone = #{userName}
			    or t.customerId = #{userName}  )
			 </if>
			<if test="startTime != null and startTime != ''">
				<![CDATA[ and t.registerTime >= #{startTime} ]]>
			</if>
			<if test="userType != null and userType != ''">
				<![CDATA[ and t.userType = #{userType} ]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[ and t.registerTime <= #{endTime} ]]>
			</if>
			<if test="status != null and status != ''">
				<![CDATA[ and t.status = #{status} ]]>
			</if>
			<if test="roleType != null and roleType != '' and roleType != 'all'.toString() ">
				<![CDATA[ and t.roleType = #{roleType} ]]>
			</if>
			<if test="roleType != null and roleType == 'all'.toString()">
				<![CDATA[ and t.roleType >=1 ]]>
			</if>
			<if test="orgId != null and orgId != ''">
				<![CDATA[ and t.orgId = #{orgId} ]]>
			</if>
			<if test="orgName != null and orgName != ''">
				<![CDATA[ and (t.orgId = #{orgName} or t5.orgName like CONCAT(#{orgName},'%') ]]>
			</if>
			<if test="sourceType != null and sourceType != ''">
				<![CDATA[ and t.sourceType like CONCAT(#{sourceType},'%') ]]>
			</if>
			<if test="customerId != null and customerId != ''">
				and t.customerId = #{customerId}
			</if>
		</where>
	</sql>
	<select id="queryKefuCfgList" resultType="map" parameterType="map">
	   SELECT
			t.customerId,
			t.userName as 'realName',
			f_hide_phone(t.telephone) telephone,
			t.kfAuthRole,
			t1.maxAllotCount,
			t1.isAllotLend,
			t1.isKfAllot,
			t2.nickName,
			t2.codeNum,
			t2.weixin,
			t2.totalAmt,
			t2.serveCity,
			t2.onJob,
			IFNULL(t.kfLoginStatus,0) as 'isLogin'
		FROM t_customer t
		LEFT JOIN t_cust_right t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_code t2 ON t.customerId = t2.customerId
		<include refid="sqlQueryKefuCfgList"></include>
	</select>
	<select id="queryKefuCfgListCount" resultType="int"
		parameterType="map">
		SELECT
		COUNT(t.customerId)
		FROM t_customer t
		LEFT JOIN t_cust_right t1 ON
		t.customerId = t1.customerId
		LEFT JOIN t_cust_code t2 ON t.customerId =
		t2.customerId
		<include refid="sqlQueryKefuCfgList"></include>
	</select>
	<sql id="sqlQueryKefuCfgList">
		<where>
			t.`status`=1 AND t.roleType = 2
			<if test="isKfAllot != null and isKfAllot != ''">
				AND t1.isKfAllot = #{isKfAllot}
			</if>
			<if test="userName != null and userName != ''">
			    AND ( t.userName like '${userName}%' OR t.telephone like '${userName}')
			 </if>
			<if test="isAllotLend != null and isAllotLend != ''">
				AND t1.isAllotLend = #{isAllotLend}
			</if>
			<if test="onJob != null and onJob != ''">
				AND t2.onJob = #{onJob}
			</if>
			<if test="kfAuthRole != null and kfAuthRole != ''">
				AND t.kfAuthRole = #{kfAuthRole}
			</if>
			<if test="startTime != null and startTime != ''">
				<![CDATA[ and t.registerTime >= #{startTime} ]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[ and t.registerTime < DATE_ADD(#{endTime},INTERVAL 1 DAY) ]]>
			</if>
		</where>
	</sql>
	<insert id="insert" parameterType="map">
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="customerId">
	   SELECT LAST_INSERT_ID()
	</selectKey>
	INSERT INTO t_customer (
		userName,
		email,
		telephone,
		unionid,
		openid,
		password,
		registerTime,
		referer,
		userType,
		roleType,
		gzhId,
		lastLoginTime,
		lastLoginIp,
		appType,
		sourceType,
		imName,
		status,
		loginStatus,
		remindStatus,
		platform,
		tradePwd
		
	)
	VALUES ( 
		#{userName, jdbcType=VARCHAR}, 
		#{email, jdbcType=VARCHAR}, 
		#{telephone, jdbcType=VARCHAR}, 
		#{unionid, jdbcType=VARCHAR}, 
		#{openid, jdbcType=VARCHAR}, 
		#{password, jdbcType=VARCHAR}, 
		#{registerTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}, 
		#{referer, jdbcType=BIGINT,typeHandler=NumberHandler}, 
		<if test="userType !=null ">
		#{userType, jdbcType=INTEGER,typeHandler=NumberHandler},
		</if>
		<if test="userType ==null ">
		2, 
		</if>
		<if test="roleType !=null ">
		#{roleType, jdbcType=INTEGER,typeHandler=NumberHandler},
		</if>
		<if test="roleType ==null ">
		0, 
		</if>
		#{gzhId, jdbcType=INTEGER,typeHandler=NumberHandler},
		#{lastLoginTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}, 
		#{lastLoginIp, jdbcType=VARCHAR}, 
		#{appType, jdbcType=VARCHAR}, 
		#{sourceType, jdbcType=VARCHAR}, 
		#{imName, jdbcType=VARCHAR}, 
		#{status, jdbcType=INTEGER,typeHandler=NumberHandler}, 
		#{loginStatus, jdbcType=INTEGER,typeHandler=NumberHandler}, 
		<if test="remindStatus !=null ">
		#{remindStatus, jdbcType=INTEGER,typeHandler=NumberHandler}, 
		</if>
		<if test="remindStatus ==null ">
		0 ,
		</if>
		<if test="platform !=null ">
		#{platform, jdbcType=INTEGER,typeHandler=NumberHandler},
		</if>
		<if test="platform ==null ">
		0,
		</if>
		#{tradePwd, jdbcType=VARCHAR}
		)
	</insert>
	<!--  查询商户 -->
	<select id="queryStores" resultType="map" parameterType="map">
		SELECT
			t1.orgId,
			t1.orgName,
			IFNULL(t2.realName,t.userName) as realName,
			t.customerId,
			t.telephone 
		FROM t_customer t
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		left JOIN t_org t1 ON t.orgId = t1.orgId
		<where>
			<if test="customerId != null and customerId != ''">
			  and t.customerId = #{customerId}
			 </if>
			<if test="telephone != null and telephone != ''">
		    	and t.telephone = #{telephone}
		 	</if>
		 	<if test="cityName != null and cityName  != ''">
		    	and t1.cityName  like CONCAT('%',#{cityName},'%')
		 	</if>
		 	<if test="realName != null and realName  != ''">
		    	and (t2.realName  like CONCAT('%',#{realName},'%') or t.userName like CONCAT('%',#{realName},'%'))
		 	</if>
		 	<if test="roleType != null and roleType != ''">
		    	and t.roleType = #{roleType}
		 	</if>
	 	 	<if test="inRoleType != null and inRoleType != ''">
		    	and t.roleType in(${inRoleType})
		 	</if>
		 	<if test="status != null and status != ''">
		    	and t.`status` = #{status}
		 	</if>
		</where>	
	</select>
	
	<!-- 在线用户 -->
	<select id="queryCustomerId" resultType="map" parameterType="map">
		SELECT
			customerId,
			telephone 
		FROM t_customer
		<where>
			<if test="customerId != null and customerId != ''">
			  and customerId = #{customerId}
			 </if>
			<if test="telephone != null and telephone != ''">
		    	and telephone = #{telephone}
		 	</if>
		 	<if test="roleType != null and roleType != ''">
		    	and roleType = #{roleType}
		 	</if>
		 	<if test="status != null and status != ''">
		    	and status = #{status}
		 	</if>
		 	
		</where>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>		
	</select>
	<select id="queryCustomerIdCount" resultType="int" parameterType="map">
		SELECT count(*)
		FROM t_customer
		<where>
			<if test="customerId != null and customerId != ''">
			  and customerId = #{customerId}
			 </if>
			<if test="telephone != null and telephone != ''">
		    	and telephone = #{telephone}
		 	</if>
		</where>		
	</select>	
	
	<select id="login" resultType="map" parameterType="map">
		SELECT
			t.customerId,
			t.`status`
		FROM t_customer t
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		<where>
			<if test="userName != null">
		    	and t.telephone = #{userName}
		 	</if>
		 	<if test="customerId != null">
				and t.customerId = #{customerId}
			</if>
			<if test="password != null">
		    	and t.password = #{password}
		 	</if>
		 	<if test="telephone != null">
		    	and t.telephone = #{telephone}
		 	</if>
			<if test="cardNo != null">
		    	and t2.cardNo = #{cardNo}
		 	</if>
		 	<if test="openid != null">
		    	and t.openid = #{openid}
		 	</if>
		 	<if test="unionid != null">
		    	and t.unionid = #{unionid}
		 	</if>
		</where>
	</select>
	
	<select id="loginQuery" resultType="map" parameterType="map">
		SELECT
			t.customerId,
			t.unionid,
			t.userName,  
			t.telephone,
			t.email,
			t.sourceType,
			t.userType,
			t.vipGrade,
			DATE_FORMAT(t.vipEndDate,'%Y-%m-%d') as "vipEndDate",
			t.referer,
			t.`status`,
			t.remindStatus,
			t.platform,
			t.openid,
			t.gzhId,
		    IFNULL(t.imName,' ') as imName,
			t.roleType,
			t5.orgId,
			t5.orgNo,
			t.authRole as authType,
			t.kfAuthRole as kfAuthType,
			t.userOrgs,
			t.groupName,
			t.teamName,
			t4.referer refererTwo,
			IFNULL(t1.headImgUrl,' ') as userImage, 
			t1.auditDesc,
			t1.qrcodeImgUrl,
			t1.provice,
			t1.cityName, 
			t1.cityArea,
			t1.address,
			t1.custDesc,
			IFNULL(t1.headStatus,-1) as 'headStatus',
			IFNULL(t2.realName,' ') as "realName",
			t2.cardNo,
			IFNULL(t2.`status`,-1) as 'identifyStatus',
			t3.lenderType,
		  	t3.company,
		  	t3.companyDesc,
		  	t3.compType,
		  	t3.compId,
      		IFNULL(t3.`status`,-1) as 'cardStatus',
			DATE_FORMAT(t.registerTime,'%Y-%m-%d %H:%i:%s') as "registerTime",
			t5.orgFlag
		FROM t_customer t
		LEFT JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		LEFT JOIN t_cust_identify_card t3 on t.customerId = t3.customerId
		LEFT JOIN t_customer t4 on t4.customerId = t.referer
		LEFT JOIN t_org t5 ON t5.orgId = t.orgId
		LEFT JOIN t_sys_role t6 ON t6.roleId = t.authRole
		<where>
			<if test="userName != null ">
		    	and t.telephone = #{userName}
		 	</if>
		 	<if test="customerId != null ">
				and t.customerId = #{customerId}
			</if>
			<if test="password != null ">
		    	and t.password = #{password}
		 	</if>
		 	<if test="telephone != null ">
		    	and t.telephone = #{telephone}
		 	</if>
			<if test="cardNo != null ">
		    	and t2.cardNo = #{cardNo}
		 	</if>
		 	<if test="openid != null ">
		    	and t.openid = #{openid}
		 	</if>
		 	<if test="unionid != null ">
		    	and t.unionid = #{unionid}
		 	</if>
		</where>
		limit 10
	</select>
	
	<update id="updateStatus" parameterType="map">
		UPDATE t_customer  
		       set status = #{status, jdbcType=INTEGER,typeHandler=NumberHandler}
		       where customerId = #{customerId}
	</update>
	
	<update id="update" parameterType="map">
		UPDATE t_customer  
		<set>
			<if test="userName != null">
				userName = #{userName, jdbcType=VARCHAR},  
			</if>
			<if test="email != null">
				email = #{email, jdbcType=VARCHAR},  
			</if>
			<if test="unionid != null">
				unionid = #{unionid, jdbcType=VARCHAR},  
			</if>
			<if test="openid != null">
				openid = #{openid, jdbcType=VARCHAR},  
			</if>
			<if test="telephone != null">
				telephone = #{telephone, jdbcType=VARCHAR},  
			</if>
			<if test="password != null">
				password = #{password, jdbcType=VARCHAR},  
			</if>
			<if test="userType != null">
				userType = #{userType, jdbcType=VARCHAR},  
			</if>
			<if test="orgId != null">
				orgId = #{orgId, jdbcType=BIGINT,typeHandler=NumberHandler},  
			</if>
			<if test="registerTime != null">
				registerTime = #{registerTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},  
			</if>
			<if test="referer != null">
				referer = #{referer, jdbcType=BIGINT,typeHandler=NumberHandler},  
			</if>
			<if test="lastLoginTime != null">
				lastLoginTime = #{lastLoginTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},  
			</if>
			<if test="lastLoginIp != null">
				lastLoginIp = #{lastLoginIp, jdbcType=VARCHAR},  
			</if>
			<if test="appType != null">
				appType = #{appType, jdbcType=VARCHAR},  
			</if>
			<if test="typeId != null">
				typeId = #{typeId, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="imName != null">
				imName = #{imName, jdbcType=VARCHAR},  
			</if>
			<if test="status != null">
				status = #{status, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="kfLoginStatus != null">
				kfLoginStatus = #{kfLoginStatus, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="roleType != null">
				roleType = #{roleType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="loginStatus != null">
				loginStatus = #{loginStatus, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="remindStatus != null">
				remindStatus = #{remindStatus, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="platform != null">
				platform = #{platform, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="userOrgs != null">
				userOrgs = #{userOrgs, jdbcType=VARCHAR},  
			</if>
			<if test="authRole != null">
				authRole = #{authRole, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="kfAuthRole != null">
				kfAuthRole = #{kfAuthRole, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="groupName != null">
				groupName = #{groupName, jdbcType=VARCHAR},  
			</if>
			<if test="teamName != null">
				teamName = #{teamName, jdbcType=VARCHAR},  
			</if>
			<if test="tradePwd != null">
				tradePwd = #{tradePwd, jdbcType=VARCHAR}
			</if>
		</set>
		<where>
			  customerId = #{customerId}
		</where>
	</update>
	
	<!-- 查询客户学徒信息 -->
	<select id="queryApprentice" resultType="map" parameterType="map">
		SELECT 
			IFNULL(t2.realName,t.userName) as 'userName',
			t.telephone,
			DATE_FORMAT(t.registerTime,'%Y-%m-%d %H:%i:%s') as "registerTime",
			t1.company
		FROM t_customer t
		LEFT JOIN t_cust_identify_card t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		WHERE t.referer = #{customerId}
		ORDER BY t.registerTime desc
	</select>
	
	<select id="queryApprenticeCount" resultType="int" parameterType="map">
		SELECT COUNT(1) FROM t_customer t
		WHERE t.referer = #{customerId}
	</select>
	
	<!-- 查找即将过期的VIP客户 -->
	<select id="queryVipOverdue" resultType="map" parameterType="map">
		<![CDATA[ SELECT 
				t.customerId,
				t.telephone,
				t2.realName,
				DATE_FORMAT(t.vipEndDate,'%Y-%m-%d') vipEndDate,
				t.openid
			FROM t_customer t
			JOIN t_cust_identify t2 ON t.customerId = t2.customerId 
			WHERE t.vipGrade = 1 AND ( t.vipEndDate>=DATE_FORMAT(now(),'%Y-%m-%d') and t.vipEndDate <= #{endDate} )
			ORDER BY t.registerTime
		 ]]>
	</select>
	<select id="queryVipOverdueCount" resultType="int" parameterType="map">
		SELECT COUNT(1) FROM t_customer t
		WHERE t.vipGrade = 1 AND t.vipEndDate = #{endDate}
	</select>
	
	<!-- 客服关闭VIP -->
	<update id="closeVip" parameterType="map">
		UPDATE t_customer t SET t.vipGrade = 0, t.vipEndDate = NULL 
		WHERE t.customerId = #{customerId}
	</update>
	
	<!-- 开通vip -->
	<update id="openVip" parameterType="map">
		UPDATE t_customer SET vipGrade = 1, vipEndDate = DATE_ADD(
		(CASE 
		WHEN vipEndDate IS NULL THEN NOW()
		<![CDATA[ WHEN vipEndDate < DATE_FORMAT(NOW(),'%Y-%m-%d') THEN NOW() ]]>
		ELSE vipEndDate
		END
		),INTERVAL ${openMonth} MONTH) WHERE customerId = #{customerId}
	</update>
	
	<!-- 批量关闭VIP -->
	<update id="batchCloseVip" parameterType="map">
		UPDATE t_customer t SET t.vipGrade = 0 
		WHERE t.vipGrade = 1 
		<![CDATA[ AND t.vipEndDate < DATE_FORMAT(NOW(),'%Y-%m-%d') ]]>
	</update>
	
	<!-- 将openid置空 -->
	<update id="clearOpenid" parameterType="map">
		UPDATE t_customer t SET t.openid = null WHERE t.customerId = #{customerId}
	</update>
	<!-- 将unionid置空 -->
	<update id="clearUnionid" parameterType="map">
		UPDATE t_customer t SET t.unionid = null WHERE t.customerId = #{customerId}
	</update>
	
	<!-- 查询用户基本信息和权限信息 -->
	<select id="queryWithRight" resultType="map" parameterType="map">
		SELECT
			t1.customerId,
			t1.telephone,
			t1.email,
			t1.roleType,
			t1.kfAuthRole,
			t1.orgId,
			t1.status,
			t2.isSummary,
			t2.editBorrow,
			t2.channels,
			t2.orgs,
			t2.citys,
			t2.isZSenior,
			t2.isSenior,
			t2.isKfAllot,
			t2.isAllotLend,
			t2.isLimitIp,
			t2.freeSeniorRob,
			t2.work,
			t2.spread,
			t2.dataCount,
			t2.sysSet,
			t2.hdManager,
			t2.otherFunction,
			isCollectWxLogin,
			collectUserId,
			isAdminWxLogin,
			adminUserId,
			ifnull(t3.realName,t1.userName) AS userName
		FROM t_customer t1
		LEFT JOIN t_cust_right t2 ON t1.customerId= t2.customerId
		LEFT JOIN t_cust_identify t3 ON t1.customerId = t3.customerId
		<where>
			t1.customerId = #{customerId }
		</where> 		
	</select>
	
	<select id="queryCustList" resultType="map" parameterType="map">
		SELECT
			t.customerId,
			t.email,
			t1.cityName,
			t1.headImgUrl AS userImage,
			t1.qrcodeImgUrl,
			IFNULL(t2.realName,t.userName) as 'userName',
			t2.cardNo,
			t2.autoAuditCount,
		    t.telephone,
			IFNULL(t1.headStatus,-1) as 'headStatus',
			IFNULL(t2.`status`,-1) as 'identifyStatus',
			IFNULL(t3.`status`,-1) as 'cardStatus',
			t.userType,
			t3.company,
			t.orgId,
			t4.orgNo,
			t4.orgName,
			t.roleType,
			t.vipGrade,
			DATE_FORMAT(t.vipEndDate, '%Y-%m-%d' ) vipEndDate,
			DATE_FORMAT(t.registerTime,'%Y-%m-%d %H:%i:%s') AS registerTime,
			t.referer,
			t.`status`,
			DATE_FORMAT(t.lastLoginTime,'%Y-%m-%d %H:%i:%s') AS lastLoginTime,
			t.lastLoginIp,
			t.sourceType,
			t5.usableAmount,
			t5.seniorAmount,
			IF(t.openid IS NULL,false,true) as 'hasOpenid'
		FROM
			t_customer t
		LEFT JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		LEFT JOIN t_cust_identify_card t3 ON t.customerId = t3.customerId
		LEFT JOIN t_org t4 ON t4.orgId = t.orgId
		LEFT JOIN t_cust_amount t5 ON t.customerId = t5.customerId
		<include refid="sqlQueryCustList"></include>
		ORDER by t.registerTime desc
	</select>

	<select id="queryCustCount" resultType="int" parameterType="map">
		SELECT count(1)
		FROM t_customer t
		LEFT JOIN t_cust_info t1 ON t.customerId = t1.customerId
		LEFT JOIN t_cust_identify t2 ON t.customerId = t2.customerId
		LEFT JOIN t_cust_identify_card t3 ON t.customerId = t3.customerId
		LEFT JOIN t_org t4 ON t4.orgId = t.orgId
		<include refid="sqlQueryCustList"></include>
	</select>
	<sql id="sqlQueryCustList">
		<where>
			 <if test="telephone != null and telephone != ''">
			    and t.telephone =#{telephone}
			 </if>
		 	 <if test="userName != null and userName != ''">
			    and t.userName like CONCAT(#{userName},'%')
			 </if>
		  	 <if test="vipGrade != null and vipGrade != ''">
			    and t.vipGrade=#{vipGrade}
			 </if>
			<if test="startTime != null and startTime != ''">
				<![CDATA[ and t.registerTime >= #{startTime} ]]>
			</if>
			<if test="userType != null and userType != ''">
				<![CDATA[ and t.userType = #{userType} ]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[ and t.registerTime <= #{endTime} ]]>
			</if>
			<if test="status != null and status != ''">
				<![CDATA[ and t.status = #{status} ]]>
			</if>
			<if test="auitStatus != null and auitStatus != ''">
				<if test="auitStatus==1">
						and (t1.headImgUrl = null or t1.headImgUrl='')
				</if>
				<if test="auitStatus==2">
						and (t2.cardNo = null or t3.company= null)
				</if>
				<if test="auitStatus==3">
						and t1.headStatus = 0
				</if>
				<if test="auitStatus==4">
						and (((t2.status=0 or t2.status=null) and t2.cardNo IS NOT NULL) or ((t3.status=0 or t3.status=null)))
				</if>
				<if test="auitStatus==5">
						and t1.headStatus = 1
				</if>
				<if test="auitStatus==6">
						and t2.status = 1 and t3.status=1
				</if>
				<if test="auitStatus==7">
						and t1.headStatus = 2
				</if>
				<if test="auitStatus==8">
						and (t2.status = 2 or t3.status=2)
				</if>
			</if>
			
			<if test="headStatus != null and headStatus != ''">
				<![CDATA[ and t1.headStatus = #{headStatus} ]]>
			</if>
			<if test="identifyStatus != null and identifyStatus != ''">
				<![CDATA[ and t2.status = #{identifyStatus} ]]>
			</if>
			<if test="cardStatus != null and cardStatus != ''">
				<![CDATA[ and t3.status = #{cardStatus} ]]>
			</if>
			<if test="roleType != null and roleType != '' and roleType != 'all'.toString() ">
				<![CDATA[ and t.roleType = #{roleType} ]]>
			</if>
			<if test="roleType != null and roleType == 'all'.toString()">
				<![CDATA[ and t.roleType >=1 ]]>
			</if>
			<if test="orgId != null and orgId != ''">
				<![CDATA[ and t.orgId = #{orgId} ]]>
			</if>
			<if test="sourceType != null and sourceType != ''">
				<![CDATA[ and t.sourceType like CONCAT(#{sourceType},'%') ]]>
			</if>
			<if test="cityName != null and cityName != ''">
				<![CDATA[ and t1.cityName like CONCAT(#{cityName},'%') ]]>
			</if>
			<if test="identifyImg == '1'.toString() ">
				<![CDATA[ and (t2.realImage is not null and t2.realImage != '') ]]>
			</if>
			<if test="identifyImg == '0'.toString() ">
				<![CDATA[ and (t2.realImage is null or t2.realImage ='')]]>
			</if>
			<if test="workImg == '1'.toString()">
				<![CDATA[ and (t3.cardImage is not null and t3.cardImage != '') ]]>
			</if>
			<if test="workImg == '0'.toString()">
				<![CDATA[ and (t3.cardImage is  null and t3.cardImage = '') ]]>
			</if>
			<if test="startUpdateTime != null and startUpdateTime != ''">
				<![CDATA[ and t2.updateTime >= #{startUpdateTime} ]]>
			</if>
			<if test="endUpdateTime != null and endUpdateTime != ''">
				<![CDATA[ and t2.updateTime <= #{endUpdateTime} ]]>
			</if>
		</where>
	</sql>
	<!-- 查询用户密码 -->
	<select id="queryCustPwd" resultType="map" parameterType="map">
		SELECT
			customerId,
			telephone,
			`status`,
			password,
			tradePwd
		FROM t_customer
		<where>
			<if test="customerId != null and customerId != ''">
			  and customerId = #{customerId}
			 </if>
			<if test="telephone != null and telephone != ''">
		    	and telephone = #{telephone}
		 	</if>
		 	<if test="password != null and password != ''">
		    	and password = #{password}
		 	</if>
		 	<if test="tradePwd != null and tradePwd != ''">
		    	and tradePwd = #{tradePwd}
		 	</if>
		</where>	
	</select>
	
	<!-- 查询推荐好友相关参数 -->
	<select id="queryRefererRewards" resultType="map" parameterType="map">
		select IFNULL(tab1.totalAmount,0) as totalAmount,IFNULL(tab2.totalScore,0) as totalScore,
			 IFNULL(tab3.totalPeople,0) as totalPeople
		from t_customer c 
		LEFT JOIN(
		select t.customerId,SUM(t.amount)as totalAmount 
			from t_fund_record t where t.fundType='refererFirstRob' and t.customerId = #{customerId}
		)tab1 ON c.customerId = tab1.customerId 
		LEFT JOIN (
		select cs.customerId,SUM(cs.score) as totalScore from t_cust_score cs 
			where (cs.createDesc='推荐人工作认证' or cs.createDesc='推荐人实名认证') and cs.customerId = #{customerId}
		)tab2 ON tab2.customerId = c.customerId
		LEFT JOIN (
		select referer,COUNT(c.customerId)as totalPeople from t_customer c where c.referer = #{customerId}
		)tab3 ON tab3.referer = c.customerId
		where c.customerId = #{customerId}
	</select>
	
	<update id="updateTelephone" parameterType="map">
		UPDATE t_customer  
		       set telephone = #{telephone},
		       unionid = NULL,
		       openid = NULL
		       WHERE customerId = #{customerId}
	</update>
	
	<!-- 查询用户信息 -->
	<select id="queryCustMessage" resultType="map" parameterType="map">
		SELECT
			t1.customerId as cid,
			t1.registerTime as rtime,
			t1.telephone as tel,
			t1.sourceType as crst,
			t1.appType,
			t2.updateTime AS xxjrlt,
			t3.updateTime AS xdjllt,
			t4.realName AS cname,
			t5.cityName AS ccity,
			TRUE as isr,
			now() as ctime
		FROM
			t_customer t1
		LEFT JOIN t_cust_signid t2 ON t1.customerId = t2.customerId
		AND t2.signType = "appxxjr"
		LEFT JOIN t_cust_signid t3 ON t1.customerId = t3.customerId
		AND t3.signType = "appxdjl"
		LEFT JOIN t_cust_identify t4 ON t1.customerId = t4.customerId
		LEFT JOIN t_cust_info t5 ON t1.customerId = t5.customerId
		WHERE
			t1.telephone IS NOT NULL
		AND t1.telephone != ""
		<if test="customerId != null and customerId != ''">
			<![CDATA[AND t1.customerId >  ${customerId}  ]]>
		</if>
		<if test="inCustomerId != null and inCustomerId != ''">
			AND t1.customerId in (${inCustomerId})
		</if>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
		<if test="limit != null and limit != ''">
			LIMIT ${limit}
		</if>
	</select>
	
	<!-- 过期的vip用户 -->
	<select id="expiredVipCust" resultType="map" parameterType="map">
		select customerId from t_customer WHERE vipGrade = 1 
		<![CDATA[ AND vipEndDate < DATE_FORMAT(NOW(),'%Y-%m-%d') ]]>
	</select>
	
	<select id="queryRegOfDay" resultType="map" parameterType="map">
		SELECT
			DATE_FORMAT(t.registerTime, '%Y-%m-%d') recordDate,
		 	SUM(CASE  WHEN t.userType = 1 THEN 1 ELSE 0 END) xdjlCount,
			SUM(CASE  WHEN t.sourceType = 'xxjr' THEN 1 ELSE 0 END) xxjrCount,
			SUM(CASE  WHEN t.sourceType = 'wx' THEN 1 ELSE 0 END) wxCount,
			SUM(CASE  WHEN t.sourceType = 'Channel ID' THEN 1 ELSE 0 END) channelIdCount
		FROM
			t_customer t
		<where>
			t.roleType = 0
			<if test="startRecordDate != null and startRecordDate != ''">
			  	<![CDATA[ AND t.registerTime >= #{startRecordDate} ]]>
			</if>
			<if test="endRecordDate != null and endRecordDate != ''">
			    <![CDATA[ AND t.registerTime <= #{endRecordDate}]]>
			</if>
		</where>
		GROUP BY recordDate
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>
	
	<select id="queryRegOfDayCount" resultType="int" parameterType="map">
		 SELECT COUNT(1) FROM (
			SELECT
				DATE_FORMAT(t.registerTime, '%Y-%m-%d') recordDate
			FROM
				t_customer t
			<where>
		      	t.roleType = 0
				<if test="startRecordDate != null and startRecordDate != ''">
				  	<![CDATA[ AND t.registerTime >= #{startRecordDate} ]]>
				</if>
				<if test="endRecordDate != null and endRecordDate != ''">
				    <![CDATA[ AND t.registerTime <= #{endRecordDate}]]>
				</if>
			</where>
			GROUP BY recordDate
		) t2
	</select>
</mapper>