<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ORGALLOTRECORD">
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			recordDate,
			orgId,
			cityName, 
			applyCount
		FROM t_org_allot_record
		<where>
			<if test="recordDate != null and recordDate != ''">
			  and recordDate = #{recordDate}
			 </if>
			<if test="orgId != null and orgId != ''">
			  and orgId = #{orgId}
			 </if>
			<if test="cityName != null and cityName != ''">
				and cityName = #{cityName}
			</if>
			<if test="applyCount != null and applyCount != ''">
				and applyCount = #{applyCount}
			</if>
		</where>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_org_allot_record 
		<where>
		<if test="recordDate != null and recordDate != ''">
		    and recordDate = #{recordDate}
		 </if>
		<if test="orgId != null and orgId != ''">
		    and orgId = #{orgId}
		 </if>
		<if test="cityName != null and cityName != ''">
			and cityName = #{cityName}
		</if>
		<if test="applyCount != null and applyCount != ''">
			and applyCount = #{applyCount}
		</if>
		</where>
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO t_org_allot_record (
			recordDate,
			cityName,
			orgId,
			applyCount
		)
		VALUES ( 
			#{recordDate, jdbcType=DATE,typeHandler=DateHandler},
			#{cityName, jdbcType=VARCHAR}, 
			#{orgId, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			<if test="applyCount !=null ">
			#{applyCount, jdbcType=INTEGER,typeHandler=NumberHandler}
			</if>
			<if test="applyCount ==null ">
			0 
			</if>
		)
	</insert>
	<delete id="delete" parameterType="map">
		DELETE FROM t_org_allot_record 
		<where> 
			recordDate = #{recordDate} AND 
			orgId = #{orgId}
		</where>
	</delete>
	<update id="update" parameterType="map">
		UPDATE t_org_allot_record  
		<set>
			<if test="cityName != null">
				cityName = #{cityName, jdbcType=VARCHAR},
			</if>
			<if test="addApplyCount != null">
				applyCount = applyCount + #{addApplyCount}
			</if>
		</set>
		<where>
			  recordDate = #{recordDate} AND 
			  orgId = #{orgId}
		</where>
	</update>
	
	<!-- 通过城市查询门店分配信息-->
	<select id="queryOrgGroupByCity" resultType="map" parameterType="map">
		SELECT
			tab.applyCount,
			tab.orgId
		FROM
			(
				SELECT
					t.applyCount,
					t.orgId
				FROM
					t_org_allot_record t
				WHERE
					t.cityName = #{cityName}
				AND t.recordDate >= CURDATE()
				GROUP BY t.orgId
			) tab
		ORDER BY tab.applyCount ASC
	</select>
</mapper>