<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SUMRETCHANNEL">
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			recordDate,
			channelCode,
			channelType, 
			channelName, 
			retCount, 
			retAmount, 
			sucRetCount, 
			sucRetAmount
		FROM t_sum_ret_channel
		<where>
			<if test="recordDate != null and recordDate != ''">
			  and recordDate = #{recordDate}
			 </if>
			<if test="channelCode != null and channelCode != ''">
			  and channelCode = #{channelCode}
			 </if>
			<if test="channelType != null and channelType != ''">
				and channelType = #{channelType}
			</if>
			<if test="channelName != null and channelName != ''">
				and channelName = #{channelName}
			</if>
			<if test="retCount != null and retCount != ''">
				and retCount = #{retCount}
			</if>
			<if test="retAmount != null and retAmount != ''">
				and retAmount = #{retAmount}
			</if>
			<if test="sucRetCount != null and sucRetCount != ''">
				and sucRetCount = #{sucRetCount}
			</if>
			<if test="sucRetAmount != null and sucRetAmount != ''">
				and sucRetAmount = #{sucRetAmount}
			</if>
		</where>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_sum_ret_channel 
		<where>
		<if test="recordDate != null and recordDate != ''">
		    and recordDate = #{recordDate}
		 </if>
		<if test="channelCode != null and channelCode != ''">
		    and channelCode = #{channelCode}
		 </if>
		<if test="channelType != null and channelType != ''">
			and channelType = #{channelType}
		</if>
		<if test="channelName != null and channelName != ''">
			and channelName = #{channelName}
		</if>
		<if test="retCount != null and retCount != ''">
			and retCount = #{retCount}
		</if>
		<if test="retAmount != null and retAmount != ''">
			and retAmount = #{retAmount}
		</if>
		<if test="sucRetCount != null and sucRetCount != ''">
			and sucRetCount = #{sucRetCount}
		</if>
		<if test="sucRetAmount != null and sucRetAmount != ''">
			and sucRetAmount = #{sucRetAmount}
		</if>
		</where>
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO t_sum_ret_channel (
			recordDate,
			channelCode,
			channelType,
			channelName,
			retCount,
			retAmount,
			sucRetCount,
			sucRetAmount
		)
		VALUES ( 
			<if test="recordDate !=null ">
			#{recordDate, jdbcType=DATE,typeHandler=DateHandler}, 
			</if>
			<if test="channelCode !=null ">
			#{channelCode, jdbcType=VARCHAR}, 
			</if> 
			#{channelType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{channelName, jdbcType=VARCHAR}, 
			<if test="retCount !=null ">
			#{retCount, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="retCount ==null ">
			0 ,
			</if>
			<if test="retAmount !=null ">
			#{retAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="retAmount ==null ">
			0.00 ,
			</if>
			<if test="sucRetCount !=null ">
			#{sucRetCount, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="sucRetCount ==null ">
			0 ,
			</if>
			<if test="sucRetAmount !=null ">
			#{sucRetAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}
			</if>
			<if test="sucRetAmount ==null ">
			0.00 
			</if>
		)
	</insert>
	<delete id="delete" parameterType="map">
		DELETE FROM t_sum_ret_channel 
		<where> 
			recordDate = #{recordDate} AND 
			channelCode = #{channelCode}
		</where>
	</delete>
	<update id="update" parameterType="map">
		UPDATE t_sum_ret_channel  
		<set>
			<if test="channelType != null">
				channelType = #{channelType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="channelName != null">
				channelName = #{channelName, jdbcType=VARCHAR},  
			</if>
			<if test="retCount != null">
				retCount = #{retCount, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="retAmount != null">
				retAmount = #{retAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="sucRetCount != null">
				sucRetCount = #{sucRetCount, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="sucRetAmount != null">
				sucRetAmount = #{sucRetAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}
			</if>
		</set>
		<where>
			  recordDate = #{recordDate} AND 
			  channelCode = #{channelCode}
		</where>
	</update>
	
		<delete id="deleteByDay" parameterType="map">
		DELETE FROM t_sum_ret_channel 
		<where> 
			recordDate = #{today}
		</where>
	</delete>
	
	<insert id="batchInsert" parameterType="ArrayList">
		INSERT INTO t_sum_ret_channel(
			recordDate,
			channelType,
			channelCode,
			channelName,
			retCount,
			retAmount,
			sucRetCount,
			sucRetAmount	
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		  ( 
		  #{item.recordDate}, 
		  #{item.channelType}, 
		  #{item.channelCode}, 
		  #{item.channelName}, 
		  #{item.retCount}, 
		  #{item.retAmount}, 
		  #{item.sucRetCount}, 
		  #{item.sucRetAmount}
		  )
		</foreach>
  </insert>
	
	<update id="updateSucRetAmount" parameterType="map">
		UPDATE t_sum_ret_channel t 
		SET
		t.sucRetAmount = t.sucRetAmount + #{sucRetAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},
		t.sucRetCount = t.sucRetCount + #{sucRetCount, jdbcType=INTEGER,typeHandler=NumberHandler}
		WHERE 
		 t.recordDate = #{recordDate}
		AND
		t.channelCode = #{channelCode}
	</update>
	
</mapper>