<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TREATINFO">
    
    <sql id="querySql">
   		<where>
			<if test="treatyNo != null and treatyNo != ''">
			  and t.treatyNo = #{treatyNo}
			 </if>
			<if test="applyId != null and applyId != ''">
				and t.applyId = #{applyId}
			</if>
			<if test="customerId != null and customerId != ''">
				and t.customerId = #{customerId}
			</if>
			<if test="cardNo != null and cardNo != ''">
				and t.cardNo = #{cardNo}
			</if>
			<if test="telephone != null and telephone != ''">
				and t.telephone = #{telephone}
			</if>
			<if test="treatyName != null and treatyName != ''">
				and t.treatyName = #{treatyName}
			</if>
			<if test="feeType != null and feeType != ''">
				and t.feeType = #{feeType}
			</if>
			<if test="feeAmount != null and feeAmount != ''">
				and t.feeAmount = #{feeAmount}
			</if>
			<if test="feeRate != null and feeRate != ''">
				and t.feeRate = #{feeRate}
			</if>
			<if test="treatyAmount != null and treatyAmount != ''">
				and t.treatyAmount = #{treatyAmount}
			</if>
			<if test="treatyWill != null and treatyWill != ''">
				and t.treatyWill = #{treatyWill}
			</if>
			<if test="treatyFee != null and treatyFee != ''">
				and t.treatyFee = #{treatyFee}
			</if>
			<if test="status != null and status != ''">
				and t.status = #{status}
			</if>
			<if test="signType != null and signType != ''">
				and t.signType = #{signType}
			</if>
			<if test="createTime != null and createTime != ''">
				and t.createTime = #{createTime}
			</if>
			<if test="updateBy != null and updateBy != ''">
				and t.updateBy = #{updateBy}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and t.updateTime = #{updateTime}
			</if>
			<if test="applyName != null and applyName != ''">
				and t.applyName like CONCAT(#{applyName},'%')
			</if>
			<if test="telephone != null and telephone != ''">
				and t.telephone=#{telephone}
			</if>
			<if test="startTime != null and startTime != ''">
				<![CDATA[ and t.createTime >= #{startTime} ]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[ and t.createTime < DATE_ADD(#{endTime},INTERVAL 1 day)]]>
			</if>
			<if test="orgId != null and orgId != ''">
				and t.orgId =#{orgId}
			</if>
			<if test="userOrgs != null and userOrgs != ''">
				and t.orgId in (${userOrgs})
			</if>
			<if test="upStatus !=null and upStatus != '' ">
				and t.upStatus = #{upStatus}
			</if>
			<if test="upStatusIn !=null and upStatusIn != '' ">
				and t.upStatus in (${upStatusIn})
			</if>
		</where>
    </sql>
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			t.treatyNo,
			t.reContractId,
			t.applyId, 
			t.applyName,
			t.orgId,
			t.cardNo,
			t.customerId, 
			t.telephone, 
			t.treatyName, 
			t.feeType, 
			(CASE t.feeType
			 WHEN 1 THEN '固定金额'
			 WHEN 2 THEN '按比例'
			 END) as 'feeTypeText',
			t.feeAmount, 
			t.signAmount,
			t.bankRetPoint,
			t.anjiePerson,
			t.feeRate, 
			t.failureCause,
			t.handleDesc,
			(CASE 
				WHEN feeType =1 THEN t.feeAmount
				WHEN feeType =2 THEN CONCAT(t.feeRate,'%')
				ELSE '0.00'
			END) as 'zhAmount', 
			t.treatyAmount, 
			t.treatyWill, 
			t.treatyFee, 
			t.status, 
			(CASE t.status
			 WHEN 1 THEN '提交按揭中'
			 WHEN 2 THEN '结案'
			 WHEN 5 THEN '贷款未提交'
			 END) as 'statusText',
			t.signType,
			(CASE t.signType
			 WHEN 1 THEN '银行'
			 WHEN 2 THEN '小额'
			 END) as 'signTypeText',
			t.upStatus,
			t.errorMessage,
			DATE_FORMAT(t.createTime,'%Y-%m-%d %H:%i:%s') as createTime  ,
			t.updateBy, 
			DATE_FORMAT(t.updateTime,'%Y-%m-%d %H:%i:%s') as updateTime ,
			DATE_FORMAT(t.signTime,'%Y-%m-%d %H:%i:%s') as signTime ,
			t1.realName,
			t2.orgNo,
			(
				CASE
				WHEN t1.queryStatus = 1 THEN
					t1.employeeNo
				ELSE
					NULL
				END
			) AS employeeNo
		FROM t_treat_info t
		JOIN t_busi_cust t1 ON t.customerId = t1.customerId
		left join t_org t2 ON t.orgId = t2.orgId
		<include refid="querySql"/>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>
	
	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_treat_info t
		JOIN t_busi_cust t1 ON t.customerId = t1.customerId
		left join t_org t2 ON t.orgId = t2.orgId
		<include refid="querySql"/>
	</select>
	<!-- 客服系统 业务员交单列表 -->
	<select id="queryShow" resultType="map" parameterType="map">
		SELECT
			t.treatyNo,
			t.applyId, 
			t.cardNo,
			t.treatyName, 
			t.feeType, 
			t.feeAmount, 
			t.signAmount,
			t.bankRetPoint,
			t.anjiePerson,
			t.feeRate, 
			t.handleDesc,
			(CASE 
				WHEN feeType =1 THEN feeAmount
				WHEN feeType =2 THEN CONCAT(feeRate,'%')
				ELSE '0.00'
			END) as 'zhAmount', 
			t.treatyAmount, 
			t.treatyWill, 
			t.treatyFee, 
			t.status,
			(CASE t.status
			 WHEN 1 THEN '提交按揭中'
			 WHEN 2 THEN '结案'
			 WHEN 5 THEN '贷款未提交'
			 END) as 'statusText',
			 t1.realName,
			 t1.telephone,
			 t2.applyName,
			 t2.channelDetail,
			 f_hide_phone(t2.telephone) as 'borrowerTel',
			 t3.loanAmount,
			 t4.orgName,
			 t4.cityName,
			 DATE_FORMAT(t2.applyTime,'%Y-%m-%d %H:%i:%s') as applyTime,
			 DATE_FORMAT(t.updateTime,'%Y-%m-%d %H:%i:%s') as updateTime, 
			DATE_FORMAT(t.createTime,'%Y-%m-%d %H:%i:%s') as createTime  
		FROM t_treat_info t
		 LEFT JOIN t_busi_cust t1 ON t.customerId = t1.customerId
		 LEFT JOIN t_borrow_apply t2 ON t.applyId = t2.applyId
		 LEFT JOIN t_borrow_base t3 ON t.applyId = t3.applyId
		 LEFT JOIN t_org t4 ON t1.orgId = t4.orgId
		<include refid="queryShowSql"/>
		ORDER by t.createTime DESC
	</select>
	
	<select id="queryShowCount" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_treat_info t
		 LEFT JOIN t_busi_cust t1 ON t.customerId = t1.customerId
		 LEFT JOIN t_borrow_apply t2 ON t.applyId = t2.applyId
		 LEFT JOIN t_borrow_base t3 ON t.applyId = t3.applyId
		 LEFT JOIN t_org t4 ON t1.orgId = t4.orgId
		<include refid="queryShowSql"/>
	</select>
	
	<sql id="queryShowSql">
		<where>
			<if test="status != null and status != ''">
				and t.status = #{status}
			</if>
			<if test="storeRealName != null and storeRealName != ''">
				and (t1.telephone like CONCAT('%',#{storeRealName},'%') OR t1.realName like CONCAT('%',#{storeRealName},'%'))
			</if>
			<if test="cityName != null and cityName != ''">
				and t4.cityName like CONCAT('%',#{cityName},'%')
			</if>
			<if test="applyName != null and applyName != ''">
				and (t2.telephone like CONCAT('%',#{applyName},'%') OR t2.applyName like CONCAT('%',#{applyName},'%'))
			</if>
			<if test="orgId != null and orgId != ''">
				 and t4.orgId = #{orgId}
			</if>
			<if test="channelDetail != null and channelDetail != ''">
				and t2.channelDetail like CONCAT(#{channelDetail},'%')
			</if>
			<if test="startTime != null and startTime != ''">
				<![CDATA[ and t.createTime >= #{startTime} ]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[ and t.createTime <= #{endTime} ]]>
			</if>
			<if test="fixChannels != null and fixChannels != ''">
				and FIND_IN_SET(t.channelDetail,#{fixChannels})
			</if>
			<if test="startApplyTime != null and startApplyTime != ''">
				<![CDATA[ and t2.applyTime >= #{startApplyTime} ]]>
			</if>
			<if test="endApplyTime != null and endApplyTime != ''">
				<![CDATA[ and t2.applyTime <= #{endApplyTime} ]]>
			</if>
		
		</where>
	
	</sql>
	
	<!-- 查询合同信息 -->
	<select id="queryTreatInfo" resultType="map" parameterType="map">
		SELECT
			t.treatyNo,
			t.reContractId,
			t.applyId, 
			t.cardNo,
			t.customerId,
			t.applyName, 
			t1.realName,
			t.telephone, 
			t.treatyName, 
			t.signAmount,
			t.bankRetPoint,
			t.anjiePerson,
			t.feeType, 
			t.feeAmount, 
			t.feeRate, 
			t.treatyAmount, 
			t.treatyWill, 
			t.treatyFee, 
			t.`status`, 
			t.signType,
			t.upStatus,
			t.errorMessage,
			DATE_FORMAT(t.createTime,'%Y-%m-%d %H:%i:%s') as createTime  ,
			t.updateBy, 
			DATE_FORMAT(t.updateTime,'%Y-%m-%d %H:%i:%s') as updateTime  
		FROM t_treat_info t
		LEFT JOIN t_busi_cust t1 ON t.customerId = t1.customerId
		WHERE
		<choose>
		 <when test="treatyNo != null and treatyNo != ''">
		  	t.treatyNo = #{treatyNo}
		 </when>
		 <otherwise>
		  	t.applyId = #{applyId}
		 </otherwise>
		</choose>
		ORDER by t.createTime DESC
	</select>
	
		<!-- 查询简单的信息-->
	<select id="querySimpleInfo" resultType="map" parameterType="map">
		SELECT
			t.treatyNo,
			t.applyId, 
			t.customerId, 
			t.feeType, 
			t.feeAmount,
			t.feeRate,
			t1.loanAmount as 'applyAmount' 
		FROM t_treat_info t
		LEFT JOIN t_borrow_base t1 ON t.applyId = t1.applyId
		WHERE t.treatyNo = #{treatyNo}
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO t_treat_info (
			treatyNo,
			reContractId,
			applyId,
			applyName,
			cardNo,
			customerId,
			telephone,
			treatyName,
			feeType,
			feeAmount,
			feeRate,
			treatyAmount,
			treatyWill,
			treatyFee,
			status,
			signType,
			upStatus,
			errorMessage,
			handleDesc,
			signAmount,
			bankRetPoint,
			anjiePerson,
			createTime,
			updateBy,
			updateTime,
			signTime,
			orgId,
			failureCause
		)
		VALUES ( 
			#{treatyNo, jdbcType=VARCHAR}, 
			#{reContractId, jdbcType=VARCHAR}, 
			#{applyId, jdbcType=BIGINT,typeHandler=NumberHandler}, 
			#{applyName, jdbcType=VARCHAR},
			#{cardNo, jdbcType=VARCHAR}, 
			#{customerId, jdbcType=BIGINT,typeHandler=NumberHandler}, 
			#{telephone, jdbcType=VARCHAR}, 
			#{treatyName, jdbcType=VARCHAR}, 
			#{feeType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			<if test="feeAmount !=null ">
			#{feeAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="feeAmount ==null ">
			0 ,
			</if>
			<if test="feeRate !=null ">
			  #{feeRate, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="feeRate ==null ">
			0 ,
			</if>
			<if test="treatyAmount !=null ">
			  #{treatyAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="treatyAmount ==null ">
			0 ,
			</if>
			<if test="treatyWill !=null ">
			  #{treatyWill, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="treatyWill ==null ">
			0 ,
			</if>
			<if test="treatyFee !=null ">
			  #{treatyFee, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="treatyFee ==null ">
			0 ,
			</if>
			<if test="status !=null ">
			#{status, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="status ==null ">
			1 ,
			</if>
			#{signType, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			<if test="upStatus !=null ">
			#{upStatus, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="upStatus ==null ">
			1 ,
			</if>
			#{errorMessage, jdbcType=VARCHAR}, 
			#{handleDesc, jdbcType=VARCHAR}, 
			<if test="signAmount !=null ">
			  #{signAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="signAmount ==null ">
			0 ,
			</if>
			<if test="bankRetPoint !=null ">
			  #{bankRetPoint, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			</if>
			<if test="bankRetPoint ==null ">
			0 ,
			</if>
			#{anjiePerson, jdbcType=VARCHAR}, 
			#{createTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}, 
			#{updateBy, jdbcType=VARCHAR}, 
			#{updateTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},
			#{signTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},
			#{orgId, jdbcType=BIGINT,typeHandler=NumberHandler},
			#{failureCause, jdbcType=VARCHAR}
		)
	</insert>
	<delete id="delete" parameterType="map">
		DELETE FROM t_treat_info 
		<where> 
			applyId = #{applyId}
		</where>
	</delete>
	<delete id="deleteSign" parameterType="map">
		DELETE FROM t_treat_info 
		<where> 
			applyId = #{applyId}
		    <if test="customerId != null">
				AND customerId = #{customerId}
			</if>
		</where>
	</delete>
	<update id="update" parameterType="map">
		UPDATE t_treat_info  
		<set>
			<if test="treatyNo != null and treatyNo !=''">
				treatyNo = #{treatyNo, jdbcType=VARCHAR},  
			</if>
			<if test="orgId != null">
				orgId = #{orgId, jdbcType=BIGINT,typeHandler=NumberHandler},  
			</if>
			<if test="applyName != null">
				applyName = #{applyName, jdbcType=VARCHAR},  
			</if>
			<if test="cardNo != null">
				cardNo  = #{cardNo, jdbcType=VARCHAR},  
			</if>
			<if test="telephone != null">
				telephone = #{telephone, jdbcType=VARCHAR},  
			</if>
			<if test="customerId != null">
				customerId = #{customerId, jdbcType=BIGINT,typeHandler=NumberHandler},
			</if>
			<if test="handleDesc != null">
				handleDesc = #{handleDesc, jdbcType=VARCHAR},  
			</if>
			<if test="anjiePerson != null">
				anjiePerson = #{anjiePerson, jdbcType=VARCHAR},  
			</if>
			<if test="treatyName != null">
				treatyName = #{treatyName, jdbcType=VARCHAR},  
			</if>
			<if test="feeType != null">
				feeType = #{feeType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="feeAmount != null">
				feeAmount = #{feeAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="feeRate != null">
				feeRate = #{feeRate, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="signAmount != null">
				signAmount = #{signAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="bankRetPoint != null">
				bankRetPoint = #{bankRetPoint, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="treatyAmount != null">
				treatyAmount = #{treatyAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="treatyWill != null">
				treatyWill = #{treatyWill, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="treatyFee != null">
				treatyFee = #{treatyFee, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="status != null">
				status = #{status, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="signType != null">
				signType = #{signType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="upStatus !=null ">
				upStatus = #{upStatus, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="errorMessage != null">
				errorMessage = #{errorMessage, jdbcType=VARCHAR},  
			</if>
			<if test="reContractId != null">
				reContractId = #{reContractId, jdbcType=VARCHAR},  
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},  
			</if>
			<if test="signTime != null">
				signTime = #{signTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},  
			</if>
			<if test="updateBy != null">
				updateBy = #{updateBy, jdbcType=VARCHAR},  
			</if>
			<if test="failureCause != null">
				failureCause = #{failureCause, jdbcType=VARCHAR},  
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}
			</if>
		</set>
		<where>
			  <if test="applyId != null">
			  	applyId = #{applyId}
			  </if>
			  <if test="oldCustomerId != null">
			  	AND customerId = #{oldCustomerId}
			  </if>
		</where>
	</update>
	<update id="updateSign" parameterType="map">
		UPDATE t_treat_info_history  
		<set>
			 <if test="reContractId != null">
				 reContractId = #{reContractId,jdbcType=VARCHAR},
		  	</if>
			<if test="upStatus != null">
				upStatus = #{upStatus, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="errorMessage != null">
				errorMessage = #{errorMessage, jdbcType=VARCHAR},  
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}
			</if>
		</set>
		<where>
		  applyId = #{applyId}
		  <if test="signTime != null">
			and DATE_FORMAT(signTime,'%Y-%m-%d') = #{signTime}
		  </if>
		</where>
	</update>
	<select id="queryNewTreat" resultType="map" parameterType="map">
		SELECT
			t1.createTime as createTime,
			t2.cityName,
			CONCAT(t2.realName,'放款',t1.signAmount,'万元') treatDesc
		FROM t_treat_info t1
		LEFT JOIN t_busi_cust t2 on t1.customerId = t2.customerId
		<where>
			t1.status= 1
			 <if test="cityName != null and cityName != ''">
				and cityName = #{cityName}
			  </if>
		</where>
		order by createTime desc limit 3
	</select>
</mapper>