<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="APPLY">


	<sql id="queryWhere">
		<if test="haveDetail != null and haveDetail != ''">
			and haveDetail = #{haveDetail}
		</if>
		<if test="applyId != null and applyId != ''">
		  and applyId = #{applyId}
		 </if>
		<if test="uid != null and uid != ''">
			and uid = #{uid}
		</if>
		<if test="customerId != null and customerId != ''">
			and customerId = #{customerId}
		</if>
		<if test="applyName != null and applyName != ''">
			and applyName = #{applyName}
		</if>
		<if test="telephone != null and telephone != ''">
			and telephone = #{telephone}
		</if>
		<if test="applyAmount != null and applyAmount != ''">
			and applyAmount = #{applyAmount}
		</if>
		<if test="cityName != null and cityName != ''">
			and cityName = #{cityName}
		</if>
		<if test="cityArea != null and cityArea != ''">
			and cityArea = #{cityArea}
		</if>
		<if test="referer != null and referer != ''">
			and referer = #{referer}
		</if>
		<if test="pageReferer != null and pageReferer != ''">
			and pageReferer = #{pageReferer}
		</if>
		<if test="channelCode != null and channelCode != ''">
			and channelCode = #{channelCode}
		</if>
		<if test="channelDetail != null and channelDetail != ''">
			and channelDetail = #{channelDetail}
		</if>
		<if test="applyType != null and applyType != ''">
			and applyType = #{applyType}
		</if>
		<if test="identifyNo != null and identifyNo != ''">
			and identifyNo = #{identifyNo}
		</if>
		<if test="education != null and education != ''">
			and education = #{education}
		</if>
		<if test="workType != null and workType != ''">
			and workType = #{workType}
		</if>
		<if test="cmpType != null and cmpType != ''">
			and cmpType = #{cmpType}
		</if>
		<if test="creditType != null and creditType != ''">
			and creditType = #{creditType}
		</if>
		<if test="pubAmount != null and pubAmount != ''">
			and pubAmount = #{pubAmount}
		</if>
		<if test="caseAmount != null and caseAmount != ''">
			and caseAmount = #{caseAmount}
		</if>
		<if test="totalAmount != null and totalAmount != ''">
			and totalAmount = #{totalAmount}
		</if>
		<if test="manageYear != null and manageYear != ''">
			and manageYear = #{manageYear}
		</if>
		<if test="wagesType != null and wagesType != ''">
			and wagesType = #{wagesType}
		</if>
		<if test="income != null and income != ''">
			and income = #{income}
		</if>
		<if test="fundType != null and fundType != ''">
			and fundType = #{fundType}
		</if>
		<if test="socialType != null and socialType != ''">
			and socialType = #{socialType}
		</if>
		<if test="houseType != null and houseType != ''">
			and houseType = #{houseType}
		</if>
		<if test="carType != null and carType != ''">
			and carType = #{carType}
		</if>
		<if test="haveWeiLi != null and haveWeiLi != ''">
			and haveWeiLi = #{haveWeiLi}
		</if>
		<if test="zimaScore != null and zimaScore != ''">
			and zimaScore = #{zimaScore}
		</if>
		<if test="insurType != null and insurType != ''">
			and insurType = #{insurType}
		</if>
		<if test="insurMonth != null and insurMonth != ''">
			and insurMonth = #{insurMonth}
		</if>
		<if test="insurMonthAmt != null and insurMonthAmt != ''">
			and insurMonthAmt = #{insurMonthAmt}
		</if>
		<if test="applyTime != null and applyTime != ''">
			and applyTime = #{applyTime}
		</if>
		<if test="isAgain != null and isAgain != ''">
			and isAgain = #{isAgain}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="applyLabel != null and applyLabel != ''">
			and applyLabel = #{applyLabel}
		</if>
		<if test="storeFlag != null and storeFlag != ''">
			and storeFlag = #{storeFlag}
		</if>
		<if test="xxjrFlag != null and xxjrFlag != ''">
			and xxjrFlag = #{xxjrFlag}
		</if>
		<if test="insure != null and insure != ''">
			and insure = #{insure}
		</if>
		<if test="borrowApplyId != null and borrowApplyId != ''">
			and borrowApplyId = #{borrowApplyId}
		</if>
		<if test="endApplyTime != null and endApplyTime != ''">
			and applyTime <![CDATA[<=]]> #{endApplyTime}
		</if>
		<if test="startApplyTime != null and startApplyTime != ''">
			and applyTime <![CDATA[>=]]> #{startApplyTime}
		</if>
		<if test="notLikeName != null and notLikeName != ''">
			and LOCATE(#{notLikeName},IF(applyName is null,'',applyName)) =0
			<!-- and applyName not like CONCAT('%', #{notLikeName}, '%') -->
		</if>
		<if test="unionId != null and unionId != ''">
			and unionId = #{unionId}
		</if>
		<if test="inStatus != null and inStatus != ''">
			and status in (${inStatus})
		</if>
	</sql>

	<sql id="qeuryViewWhereApply">
		<where>
			<if test="isRepeat != null and isRepeat != '' and isRepeat == 1">
				and 1 != 1
			</if>
			<if test="startTime != null and startTime != ''">
				and applyTime >= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and applyTime <![CDATA[<=]]> #{endTime}
			</if>
			<if test="applyName != null and applyName != ''">
				and applyName LIKE CONCAT('%', #{applyName}, '%')
			</if>
			<if test="telephone != null and telephone != ''">
				and telephone = #{telephone}
			</if>
			<if test="fixChannels != null and fixChannels != ''">
				and FIND_IN_SET(channelCode,#{fixChannels})
			</if>
			<if test="channelCode != null and channelCode != ''">
				and channelCode = #{channelCode}
			</if>
			<if test="channelDetail != null and channelDetail != ''">
				and channelDetail = #{channelDetail}
			</if>
			<if test="cityName != null and cityName != ''">
				and cityName = #{cityName}
			</if>
			<if test="grade != null and grade != ''">
				and grade = #{grade}
			</if>
		</where>
	</sql>
	
	<sql id="qeuryViewWhereThird">
		<where>
			<if test="isRepeat != null and isRepeat != ''">
				and isRepeat = #{isRepeat}
			</if>
			<if test="startTime != null and startTime != ''">
				and createTime >= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and createTime <![CDATA[<=]]> #{endTime}
			</if>
			<if test="queryChannelType != null and queryChannelType != ''">
				AND 1 != 1
			</if>
			<if test="applyName != null and applyName != ''">
				and applyName LIKE CONCAT('%', #{applyName}, '%')
			</if>
			<if test="telephone != null and telephone != ''">
				and telephone = #{telephone}
			</if>
			<if test="fixChannels != null and fixChannels != ''">
				and FIND_IN_SET(sourceChannel,#{fixChannels})
			</if>
			<if test="channelCode != null and channelCode != ''">
				and sourceChannel = #{channelCode}
			</if>
			<if test="channelDetail != null and channelDetail != ''">
				and channelDetail = #{channelDetail}
			</if>
			<if test="cityName != null and cityName != ''">
				and cityName = #{cityName}
			</if>
			<if test="grade != null and grade != ''">
				and grade = #{grade}
			</if>
		</where>
	</sql>
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			applyId,
			uid, 
			borrowApplyId,
			customerId, 
			applyName, 
			telephone, 
			applyAmount, 
			cityName,
			birthday, 
			cityArea, 
			referer, 
			userAgent,
			pageReferer, 
			channelCode, 
			channelDetail, 
			applyType, 
			identifyNo, 
			education,
			haveDetail, 
			workType, 
			cmpType, 
			creditType, 
			pubAmount, 
			caseAmount, 
			totalAmount, 
			manageYear, 
			wagesType, 
			income, 
			fundType, 
			socialType, 
			houseType, 
			carType, 
			haveWeiLi, 
			zimaScore, 
			insurType, 
			insurMonth, 
			insurMonthAmt, 
			DATE_FORMAT(applyTime,'%Y-%m-%d %H:%i:%s') as applyTime  ,
			isAgain, 
			status, 
			applyLabel, 
			storeFlag, 
			xxjrFlag,
			carMonthPay,
			houseMonthPay,
			age,
			sex,
			insure,
			loanDeadline,
			insurPayType, 
			fundMonth, 
			socialMonth, 
			houseVal, 
			carPrice, 
			hasLicense,
			applyIp,
			housePlace,
			carLocal,
			carYears,
			myLicense,
			myLoanHouse,
			houseMonth,
			carMonth,
			jobMonth,
			iszhapian,
			unionId,
			pageDetail,
			errMsg
		FROM t_apply
		<where>
			<include refid="queryWhere"></include>
		</where>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_apply 
		<where>
		<include refid="queryWhere"></include>
		</where>
	</select>
	
	<select id="queryView" parameterType="map" resultType="map">
	SELECT * from (
		SELECT
			applyId,
			'否' as 'isThird',
			DATE_FORMAT(applyTime,'%Y-%m-%d %H:%i:%s') as 'applyTime',
			f_hide_phone(telephone) as 'telephone',
			applyName,
			cityName,
			channelCode,
			channelDetail,
			applyAmount,
			(CASE workType
			WHEN 1 THEN '无固定职业'
			WHEN 2 THEN '企业主'
			WHEN 3 THEN '个体户'
			WHEN 4 THEN '上班族'
			ELSE '未知'
			END) as 'workType',
			(CASE houseType
			WHEN 1 THEN '有房,但不确认房产类型'
			WHEN 2 THEN '无房产'
			WHEN 3 THEN '商品房(有贷款)'
			WHEN 4 THEN '商品房(无贷款)'
			ELSE '未知'
			END) as 'houseType',
			(CASE carType
			WHEN 2 THEN '无车'
			WHEN 3 THEN '贷款车'
			WHEN 4 THEN '全款车'
			ELSE '未知'
			END) as 'carType',
			IF(insurType = 0, '没有', '有') as 'insurType',
			IF(socialType = 1, '有','没有') as 'socialType',
			IF(fundType = 1 ,'有','没有') as 'fundType',
			haveWeiLi,
			zimaScore,
			'否' as 'isRepeat',
			grade
		FROM
			t_apply
		<include refid="qeuryViewWhereApply"></include>
		UNION all
			SELECT
				recordId as 'recordId',
				'是' as 'isThird',
				DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s') as 'applyTime',
				f_hide_phone(telephone) as 'telephone',
				applyName,
				cityName,
				sourceChannel as 'channelCode',
				channelDetail,
				loanAmount as 'applyAmount',
				(CASE workType
				WHEN 1 THEN '无固定职业'
				WHEN 2 THEN '企业主'
				WHEN 3 THEN '个体户'
				WHEN 4 THEN '上班族'
				ELSE '未知'
				END) as 'workType',
				(CASE houseType
				WHEN 1 THEN '有房,但不确认房产类型'
				WHEN 2 THEN '无房产'
				WHEN 3 THEN '商品房(有贷款)'
				WHEN 4 THEN '商品房(无贷款)'
				ELSE '未知'
				END) as 'houseType',
				(CASE carType
				WHEN 2 THEN '无车'
				WHEN 3 THEN '贷款车'
				WHEN 4 THEN '全款车'
				ELSE '未知'
				END) as 'carType',
				IF(insurType = 0, '没有', '有') as 'insurType',
				IF(socialType = 1, '有','没有') as 'socialType',
				IF(fundType = 1 ,'有','没有')as 'fundType',
				haveWeiLi,
				zimaScore,
				IF(isRepeat = 1,'是','否') as 'isRepeat',
				grade
			FROM
				t_third_data
				<include refid="qeuryViewWhereThird"></include>
		) t1 
		ORDER BY t1.applyTime desc
	</select>
	
	<select id="queryViewCount" parameterType="map" resultType="int">
		SELECT count(t1.applyId) from  (
			SELECT
					applyId
				FROM
					t_apply
					<include refid="qeuryViewWhereApply"></include>
			UNION all
				SELECT
					recordId as 'applyId'
				FROM
					t_third_data
					<include refid="qeuryViewWhereThird"></include>
		) t1
	</select>
	
	<select id="queryApplyStatus" parameterType="map" resultType="map">
		select applyId, uid, status,(SELECT count(applyId) from t_apply where telephone = #{telephone}) as count, applyTime 
		from t_apply where telephone = #{telephone} 
		ORDER BY applyId DESC LIMIT 0,1
	</select>
	
	<select id="queryBaseByUid" parameterType="map" resultType="map">
		SELECT
			applyAmount,
			houseType,
			houseMonthPay,
			myLoanHouse,
			houseMonth,
			houseVal,
			housePlace,
			carType,
			grade,
			carLocal,
			carMonth,
			carPrice, 
			carMonthPay,
			carYears,
			workType,
			myLicense,
			workType,
			wagesType,
			jobMonth,
			income,
			caseAmount,
			hasLicense,
			socialType,
			fundType,
			insurType,
			insurPayType,
			insurMonth,
			insurMonthAmt,
			if(haveWeiLi=-1,0,haveWeiLi) as 'haveWeiLi',
			zimaScore,
			sex,
			age,
			birthday,
			identifyNo,
			cmpType
		FROM t_apply
		WHERE
			uid = #{uid}
	</select>
	
	<select id="isOldUser" parameterType="map" resultType="map">
	SELECT
		IF (
			workType IS NULL
			and houseType is null
			AND carType is null,
			0,
			1
			) AS 'isLoan'
	FROM
		t_apply
	<where>
		<if test="uid != null and uid != ''">
		and uid = #{uid}
		</if>
		<if test="applyId != null and applyId != ''">
		and applyId = #{applyId}
		</if>
	</where>
	</select>
	
	<insert id="insert" parameterType="map">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="applyId">
		   SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO t_apply (
			uid,
			customerId,
			applyName,
			telephone,
			applyAmount,
			cityName,
			cityArea,
			referer,
			pageReferer,
			channelCode,
			channelDetail,
			applyType,
			identifyNo,
			education,
			workType,
			cmpType,
			creditType,
			pubAmount,
			caseAmount,
			totalAmount,
			manageYear,
			wagesType,
			income,
			fundType,
			socialType,
			houseType,
			carType,
			haveWeiLi,
			zimaScore,
			insurType,
			insurMonth,
			insurMonthAmt,
			applyTime,
			isAgain,
			status,
			applyLabel,
			storeFlag,
			xxjrFlag,
			haveDetail,
			borrowApplyId,
			carMonthPay,
			houseMonthPay,
			age,
			sex,
			insure,
			loanDeadline,
			insurPayType,
			fundMonth,
			socialMonth,
			houseVal,
			carPrice,
			grade,
			hasLicense,
			applyIp,
			housePlace,
			carLocal,
			carYears,
			myLicense,
			myLoanHouse,
			houseMonth,
			carMonth,
			jobMonth,
			iszhapian,
			unionId,
			pageDetail,
			errMsg,
			birthday,
			userAgent
		)
		VALUES ( 
			#{uid, jdbcType=VARCHAR}, 
			#{customerId, jdbcType=BIGINT,typeHandler=NumberHandler}, 
			#{applyName, jdbcType=VARCHAR}, 
			#{telephone, jdbcType=CHAR}, 
			#{applyAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{cityName, jdbcType=VARCHAR}, 
			#{cityArea, jdbcType=VARCHAR}, 
			#{referer, jdbcType=BIGINT,typeHandler=NumberHandler}, 
			#{pageReferer, jdbcType=VARCHAR}, 
			<if test="channelCode != null">
			#{channelCode, jdbcType=VARCHAR},
			</if>
			<if test="channelCode == null">
			(SELECT n1.channelCode FROM t_borrow_channel n1 WHERE locate(n1.channelCode,#{channelDetail})=1 LIMIT 1),
			</if>
			#{channelDetail, jdbcType=VARCHAR}, 
			<if test="applyType !=null ">
			#{applyType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="applyType ==null ">
			2 ,
			</if>
			#{identifyNo, jdbcType=VARCHAR}, 
			#{education, jdbcType=VARCHAR}, 
			#{workType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{cmpType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{creditType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{pubAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{caseAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{totalAmount, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{manageYear, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{wagesType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{income, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{fundType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{socialType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{houseType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{carType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{haveWeiLi, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{zimaScore, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{insurType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{insurMonth, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{insurMonthAmt, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{applyTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}, 
			<if test="isAgain !=null ">
			#{isAgain, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="isAgain ==null ">
			0 ,
			</if>
			<if test="status !=null ">
			#{status, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="status ==null ">
			0 ,
			</if>
			#{applyLabel, jdbcType=VARCHAR}, 
			<if test="storeFlag !=null ">
			#{storeFlag, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="storeFlag ==null ">
			0 ,
			</if>
			<if test="xxjrFlag !=null ">
			#{xxjrFlag, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="xxjrFlag ==null ">
			0 ,
			</if>
			<if test="haveDetail !=null ">
			#{haveDetail, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="haveDetail ==null ">
			0 ,
			</if>
			#{borrowApplyId, jdbcType=BIGINT,typeHandler=NumberHandler},
			#{carMonthPay, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{houseMonthPay, jdbcType=NUMERIC,typeHandler=NumberHandler},
			#{age, jdbcType=NUMERIC,typeHandler=NumberHandler},
			#{sex, jdbcType=NUMERIC,typeHandler=NumberHandler},
			<if test="insure == null">
			0
			</if>
			<if test="insure != null">
			#{insure, jdbcType=INTEGER,typeHandler=NumberHandler}
			</if>
			,
			#{loanDeadline, jdbcType=INTEGER,typeHandler=NumberHandler},
			#{insurPayType, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{fundMonth, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{socialMonth, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{houseVal, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			#{carPrice, jdbcType=NUMERIC,typeHandler=NumberHandler}, 
			 #{grade, jdbcType=VARCHAR},
			#{hasLicense, jdbcType=INTEGER,typeHandler=NumberHandler},
			#{applyIp, jdbcType=VARCHAR},
			#{housePlace, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{carLocal, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{carYears, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{myLicense, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{myLoanHouse, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{houseMonth, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{carMonth, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			#{jobMonth, jdbcType=INTEGER,typeHandler=NumberHandler},
			<if test="iszhapian == null">
			0
			</if>
			<if test="iszhapian != null">
			#{iszhapian, jdbcType=INTEGER,typeHandler=NumberHandler}
			</if>
			,
			#{unionId, jdbcType=BIGINT,typeHandler=NumberHandler},
			#{pageDetail, jdbcType=VARCHAR},
			#{errMsg, jdbcType=VARCHAR},
			#{birthday, jdbcType=TIMESTAMP,typeHandler=DateHandler},
			#{userAgent, jdbcType=VARCHAR}
		)
	</insert>
	<delete id="delete" parameterType="map">
		DELETE FROM t_apply 
		<where> 
			applyId = #{applyId}
		</where>
	</delete>
	<update id="update" parameterType="map">
		UPDATE t_apply  
		<set>
			<if test="uid != null and uid != ''">
				uid = #{uid, jdbcType=VARCHAR},  
			</if>
			<if test="customerId != null">
				customerId = #{customerId, jdbcType=BIGINT,typeHandler=NumberHandler},  
			</if>
			<if test="applyName != null and applyName != ''">
				applyName = #{applyName, jdbcType=VARCHAR},  
			</if>
			<if test="telephone != null and telephone != ''">
				telephone = #{telephone, jdbcType=CHAR},  
			</if>
			<if test="applyAmount != null">
				applyAmount = #{applyAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="cityName != null and cityName != ''">
				cityName = #{cityName, jdbcType=VARCHAR},  
			</if>
			<if test="cityArea != null and cityArea != ''">
				cityArea = #{cityArea, jdbcType=VARCHAR},  
			</if>
			<if test="nullArea != null and nullArea == 1">
				cityArea =null,  
			</if>
			<if test="referer != null">
				referer = #{referer, jdbcType=BIGINT,typeHandler=NumberHandler},  
			</if>
			<if test="pageReferer != null and pageReferer != ''">
				pageReferer = #{pageReferer, jdbcType=VARCHAR},  
			</if>
			<if test="applyType != null">
				applyType = #{applyType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="identifyNo != null">
				identifyNo = #{identifyNo, jdbcType=VARCHAR},  
			</if>
			<if test="education != null">
				education = #{education, jdbcType=VARCHAR},  
			</if>
			<if test="workType != null">
				workType = #{workType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="cmpType != null">
				cmpType = #{cmpType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="creditType != null">
				creditType = #{creditType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="userAgent != null">
				userAgent = #{userAgent, jdbcType=VARCHAR},  
			</if>
			<if test="pubAmount != null">
				pubAmount = #{pubAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="caseAmount != null">
				caseAmount = #{caseAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="totalAmount != null">
				totalAmount = #{totalAmount, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="manageYear != null">
				manageYear = #{manageYear, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="wagesType != null">
				wagesType = #{wagesType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="income != null">
				income = #{income, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="fundType != null">
				fundType = #{fundType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="socialType != null">
				socialType = #{socialType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="houseType != null">
				houseType = #{houseType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="carType != null">
				carType = #{carType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="haveWeiLi != null">
				haveWeiLi = #{haveWeiLi, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="zimaScore != null">
				zimaScore = #{zimaScore, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="insurType != null">
				insurType = #{insurType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="insurMonth != null">
				insurMonth = #{insurMonth, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="insurMonthAmt != null">
				insurMonthAmt = #{insurMonthAmt, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="applyTime != null">
				applyTime = #{applyTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},  
			</if>
			<if test="birthday != null">
				birthday = #{birthday, jdbcType=TIMESTAMP,typeHandler=DateHandler},
			</if>
			<if test="isAgain != null">
				isAgain = #{isAgain, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="status != null">
				status = #{status, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="applyLabel != null">
				applyLabel = #{applyLabel, jdbcType=VARCHAR},  
			</if>
			<if test="grade != null">
				grade = #{grade, jdbcType=VARCHAR},  
			</if>
			<if test="iszhapian != null">
				iszhapian = #{iszhapian, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="storeFlag != null">
				storeFlag = #{storeFlag, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="xxjrFlag != null">
				xxjrFlag = #{xxjrFlag, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="haveDetail != null">
			 	haveDetail = #{haveDetail, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="borrowApplyId != null">
				borrowApplyId = #{borrowApplyId, jdbcType=BIGINT,typeHandler=NumberHandler},
			</if>
			<if test="houseMonthPay != null">
				houseMonthPay = #{houseMonthPay, jdbcType=NUMERIC,typeHandler=NumberHandler},
			</if>
			<if test="carMonthPay != null">
				carMonthPay = #{carMonthPay, jdbcType=NUMERIC,typeHandler=NumberHandler},
			</if>
			<if test="insure != null">
				insure = #{insure, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="loanDeadline != null">
				loanDeadline = #{loanDeadline, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="insurPayType != null">
				insurPayType = #{insurPayType, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="fundMonth != null">
				fundMonth = #{fundMonth, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="socialMonth != null">
				socialMonth = #{socialMonth, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="houseVal != null">
				houseVal = #{houseVal, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="ischannelDetail != null and ischannelDetail == 1">
			channelCode = (SELECT n1.channelCode FROM t_borrow_channel n1 WHERE locate(n1.channelCode,#{channelDetail})=1 LIMIT 1),
			channelDetail = #{channelDetail, jdbcType=VARCHAR},
			</if>
			<if test="carPrice != null">
				carPrice = #{carPrice, jdbcType=NUMERIC,typeHandler=NumberHandler},  
			</if>
			<if test="hasLicense != null">
				hasLicense = #{hasLicense, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="age != null">
				age = #{age, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="sex != null">
				sex = #{sex, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="applyIp != null">
				applyIp = #{applyIp, jdbcType=VARCHAR},
			</if>
			<if test="housePlace != null">
				housePlace = #{housePlace, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="carLocal != null">
				carLocal = #{carLocal, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="carYears != null">
				carYears = #{carYears, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="myLicense != null">
				myLicense = #{myLicense, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="myLoanHouse != null">
				myLoanHouse = #{myLoanHouse, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="houseMonth != null">
				houseMonth = #{houseMonth, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="iszhapian != null">
				iszhapian = #{iszhapian, jdbcType=INTEGER,typeHandler=NumberHandler},
			</if>
			<if test="errMsg != null">
				errMsg = #{errMsg, jdbcType=VARCHAR},  
			</if>
			<if test="pageDetail != null">
				pageDetail = #{pageDetail, jdbcType=VARCHAR},  
			</if>
			<if test="carMonth != null">
				carMonth = #{carMonth, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="jobMonth != null">
				jobMonth = #{jobMonth, jdbcType=INTEGER,typeHandler=NumberHandler}
			</if>
		</set>
		<where>
			  <if test="applyId != null and applyId != ''">
			  	and applyId = #{applyId}
			  </if>
			  <if test="uid != null and uid != ''">
			  	and uid = #{uid}
			  </if>
		</where>
	</update>
		
	<select id="queryLoanInfo" resultType="map" parameterType="map">
		SELECT
			t.applyId,
			t.applyAmount,
			t.loanDeadline,
			t.borrowApplyId,
			t2.lastStore,
			t2.orderStatus,
			t2.lastKf,
			t2.kfStatus,
			t2.status,
			t2.allotFlag,
			DATE_FORMAT(t2.speedupTime,'%Y-%m-%d %H:%i:%s') as 'speedupTime',
			DATE_FORMAT(t2.applyTime,'%Y-%m-%d %H:%i:%s') as 'applyTime',
			DATE_FORMAT(t2.createTime,'%Y-%m-%d %H:%i:%s') as 'createTime',
			IFNULL(t4.company,t3.orgName) as 'company',
			IFNULL(t4.realName,t3.managerName) as 'realName',
			IFNULL(t4.telephone,t3.managerTel) as 'telephone',
			t4.headImgUrl
		FROM t_apply t
		LEFT JOIN t_borrow_apply t2 ON t.borrowApplyId = t2.applyId 
		LEFT JOIN t_org t3 ON t3.orgId = t2.orgId
		LEFT JOIN t_busi_cust t4 ON t4.customerId = t2.lastStore
		where t.customerId = #{customerId}
		ORDER BY t.applyTime desc
		LIMIT 1
	</select>
	
	<update id="clearSpeedupTime" parameterType="map">
		UPDATE t_borrow_apply
		SET  speedupTime = null
		WHERE customerId = #{customerId}
	</update>
</mapper>