<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="APPLYFILE">
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			fileId,
			applyId, 
			materialType, 
			path, 
			DATE_FORMAT(creatTime,'%Y-%m-%d %H:%i:%s') as creatTime,
			DATE_FORMAT(updateTime,'%Y-%m-%d %H:%i:%s') as updateTime
		FROM t_apply_file
		<where>
			<if test="fileId != null and fileId != ''">
			  and fileId = #{fileId}
			 </if>
			<if test="applyId != null and applyId != ''">
				and applyId = #{applyId}
			</if>
			<if test="materialType != null and materialType != ''">
				and materialType = #{materialType}
			</if>
			<if test="path != null and path != ''">
				and path = #{path}
			</if>
			<if test="creatTime != null and creatTime != ''">
				and creatTime = #{creatTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and updateTime = #{updateTime}
			</if>
		</where>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_apply_file 
		<where>
		<if test="fileId != null and fileId != ''">
		    and fileId = #{fileId}
		 </if>
		<if test="applyId != null and applyId != ''">
			and applyId = #{applyId}
		</if>
		<if test="materialType != null and materialType != ''">
			and materialType = #{materialType}
		</if>
		<if test="path != null and path != ''">
			and path = #{path}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creatTime = #{creatTime}
		</if>
		<if test="updateTime != null and updateTime != ''">
			and updateTime = #{updateTime}
		</if>
		</where>
	</select>

	<insert id="insert" parameterType="map">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="fileId">
		   SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO t_apply_file (
			applyId,
			materialType,
			path,
			creatTime,
			updateTime
		)
		VALUES ( 
			#{applyId, jdbcType=BIGINT,typeHandler=NumberHandler}, 
			#{materialType, jdbcType=VARCHAR}, 
			#{path, jdbcType=VARCHAR}, 
			#{creatTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},
			#{updateTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}
		)
	</insert>
	<delete id="delete" parameterType="map">
		DELETE FROM t_apply_file 
		<where> 
			fileId = #{fileId}
		</where>
	</delete>
	<delete id="deleteFile" parameterType="map">
		DELETE FROM t_apply_file 
		<where> 
			applyId = #{applyId} and materialType = #{materialType}
		</where>
	</delete>
	<update id="update" parameterType="map">
		UPDATE t_apply_file  
		<set>
			<if test="applyId != null">
				applyId = #{applyId, jdbcType=BIGINT,typeHandler=NumberHandler},  
			</if>
			<if test="materialType != null">
				materialType = #{materialType, jdbcType=VARCHAR},  
			</if>
			<if test="path != null">
				path = #{path, jdbcType=VARCHAR},  
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP,typeHandler=DateHandler},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP,typeHandler=DateHandler}
			</if>
		</set>
		<where>
			  fileId = #{fileId}
		</where>
	</update>
</mapper>