<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SUMBOOKBASE">
    
	<select id="query" resultType="map" parameterType="map">
		SELECT
			recordDate,
			sucBookCount, 
			preBookCount, 
			failBookCount
		FROM t_sum_book_base
		<where>
			<if test="recordDate != null and recordDate != ''">
			  and recordDate = #{recordDate}
			 </if>
		</where>
		<if test="orderSql != null and orderSql!='' "> 
			ORDER by ${orderSql}
		</if>
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM t_sum_book_base 
		<where>
			<if test="recordDate != null and recordDate != ''">
			  and recordDate = #{recordDate}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO t_sum_book_base (
			recordDate, 
			sucBookCount,
			preBookCount,
			failBookCount
		)
		VALUES ( 
			#{recordDate, jdbcType=DATE,typeHandler=DateHandler}, 
			<if test="sucBookCount !=null ">
			#{sucBookCount, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="sucBookCount ==null ">
			0 ,
			</if>
			<if test="preBookCount !=null ">
			#{preBookCount, jdbcType=INTEGER,typeHandler=NumberHandler}, 
			</if>
			<if test="preBookCount ==null ">
			0 ,
			</if>
			<if test="failBookCount !=null ">
			#{failBookCount, jdbcType=INTEGER,typeHandler=NumberHandler}
			</if>
			<if test="failBookCount ==null ">
			0 
			</if>
		)
	</insert>
	<delete id="delete" parameterType="map">
		DELETE FROM t_sum_book_base 
		<where> 
			recordDate = #{recordDate}
		</where>
	</delete>
	<update id="update" parameterType="map">
		UPDATE t_sum_book_base  
		<set>
			<if test="sucBookCount != null">
				sucBookCount = #{sucBookCount, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="preBookCount != null">
				preBookCount = #{preBookCount, jdbcType=INTEGER,typeHandler=NumberHandler},  
			</if>
			<if test="failBookCount != null">
				failBookCount = #{failBookCount, jdbcType=INTEGER,typeHandler=NumberHandler}
			</if>
		</set>
		<where>
			  recordDate = #{recordDate}
		</where>
	</update>
</mapper>